@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header class="masthead" style="background-image: url('https://mapsvg.com/wp/wp-content/uploads/2020/07/rio.jpg') ">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Burial Site Interactive Map</h1>
                    <span class="subheading">Powered by ARCGIS and Tableau</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <iframe allowfullscreen="true" width="1080" height="720" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.arcgis.com/apps/CEWebViewer/viewer.html?&3dWebScene=b97ad484af45498cacabc2bb9d43390b&view=635199.45,-5.56,-3252118.16,635298.57,190.75,-3252120.73,0.96&lyr=1,1,1,1,1,1,1,1&wkid=4326&v=2"></iframe>
                <br />
                @*<div class='tableauPlaceholder' id='viz1618093568373' style='position: relative'><noscript><a href='#'><img alt='Grid Chart ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Fa&#47;FagElGamous&#47;GridChart&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='FagElGamous&#47;GridChart' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Fa&#47;FagElGamous&#47;GridChart&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /><param name='filter' value='publish=yes' /></object></div>*@
                @*<script type='text/javascript'>var divElement = document.getElementById('viz1618093568373'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '1000px'; vizElement.style.height = '827px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '1000px'; vizElement.style.height = '827px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '1677px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>*@
            </div>
        </div>
    </div>
</div>