@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.Title = "Enter Mummies Data";
}
<header class="masthead" style="background-image: url('https://s27389.pcdn.co/wp-content/uploads/2019/12/6-reasons-hire-big-data-talent-2020-1024x440.jpeg') ">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Enter Mummies Database</h1>
                    <span class="subheading">For Researchers</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a class="btn btn-primary" asp-action="ViewBurialsResearchers">Click here to Mummies Database for Researchers</a>
                <br />
                <div class="row m-1 p-1">
                    <form method="post">
                        <h3>General Information</h3>
                        <div>
                            <label @*asp-for=""*@>Square:</label>
                            <input @*asp-for=""*@ />
                        </div>
                        <div>
                            <label @*asp-for=""*@>Area:</label>
                            <input @*asp-for=""*@ />
                        </div>
                        <div>
                            <label @*asp-for=""*@>Burial:</label>
                            <input @*asp-for=""*@ />
                        </div>
                        <div>
                            <label @*asp-for=""*@>Date:</label>
                            <input @*asp-for=""*@ type="date" />
                        </div>
                        <div>
                            <label @*asp-for=""*@>Observers:</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <h3>Researchers On Field Related Information</h3>

                        <div>
                            <label @*asp-for=""*@>Burial ID:</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label @*asp-for=""*@>Year on skull:</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label @*asp-for=""*@>Month on skull:</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label @*asp-for=""*@>Date on Skull:</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label @*asp-for=""*@>Date on Skull:</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label @*asp-for=""*@>>Field Book:</label>
                            <input @*asp-for=""*@ />
                        </div>
                        <div>
                            <label @*asp-for=""*@>Field Book Page Number:</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <h3>Other On-site Information</h3>

                        <div>
                            <label @*asp-for=""*@>Initials of Data Entry Expert:</label>
                            <input @*asp-for=""*@ />
                        </div>


                        <div>
                            <label>Initials of Data Entry Checker</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>BYU Sample</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Body Analysis</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Postcrania at Magazine</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <h3>Mummies specific information</h3>

                        <div>
                            <label>Sex</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Age</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Rack and Shelf</label>
                            <input @*asp-for=""*@ />
                        </div>



                        <h3>Mummies osteological Information</h3>

                        <div>
                            <label>Skull Trauma</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Postcrania Trauma</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Cribra Orbitala</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Porotic Hyperostosis</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>
                                Porotic Hyperostosis
                                (LOCATIONS)
                            </label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Metopic Suture</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Button Osteoma</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Postcrania Trauma</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Osteology unknown comment</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>
                                Temporal Mandibular Joint
                                Osteoarthritis (TMJ OA)
                            </label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Linear Hypoplasia Enamel</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <h3>Excavation Site Information</h3>

                        <div>
                            <label>Excavation Site Information</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Area (Hill burials)</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Tomb</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>burial area North or South</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>burialnors</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>burial area east or west</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>burialxeorw</label>
                            <input @*asp-for=""*@ />
                        </div>
                        <div>
                            <label>Square</label>
                            <input @*asp-for=""*@ />
                        </div>
                        <div>
                            <label>Burial Number</label>
                            <input @*asp-for=""*@ />
                        </div>
                        <div>
                            <label>burial west to head</label>
                            <input @*asp-for=""*@ />
                        </div>
                        <div>
                            <label>burial west to feet</label>
                            <input @*asp-for=""*@ />
                        </div>
                        <div>
                            <label>burial south to head</label>
                            <input @*asp-for=""*@ />
                        </div>
                        <div>
                            <label>burial south to feet</label>
                            <input @*asp-for=""*@ />
                        </div>
                        <div>
                            <label>burial depth</label>
                            <input @*asp-for=""*@ />
                        </div>
                        <div>
                            <label>length</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>year excav</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Month Excavated</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Date Excavated</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>burial direction</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>burial preservation</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>burial wrapping</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>burial adult child</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Gender Code</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>burialgendermethod</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Age Code SINGLE</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Burial Direction</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>burialageatdeath</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>burialagemethod</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Hair Color Code</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>burialhaircolor</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>burialsampletaken</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>length(M)</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>length(CM)</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Goods</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Cluster</label>
                            <input @*asp-for=""*@ />
                        </div>

                        <div>
                            <label>Face Bundle</label>
                            <input @*asp-for=""*@ />
                        </div>


                        <h3>Osteology Notes</h3>
                        <div>
                            <label @*asp-for=""*@>Additional Note 1:</label>
                            <textarea rows="4" cols="100" @*asp-for=""*@ />Some notes go here</textarea>
                        </div>

                        <div>
                            <label @*asp-for=""*@>Additional Note 2:</label>
                            <textarea rows="4" cols="100" @*asp-for=""*@ />Some notes go here</textarea>
                        </div>

                        <div>
                            <label @*asp-for=""*@>Additional Note 3:</label>
                            <textarea rows="4" cols="100" @*asp-for=""*@ />Some notes go here</textarea>
                        </div>

                        <div>
                            <label @*asp-for=""*@>Additional Note 4:</label>
                            <textarea rows="4" cols="100" @*asp-for=""*@ />Some notes go here</textarea>
                        </div>

                        <div>
                            <label @*asp-for=""*@>Additional Note 5:</label>
                            <textarea rows="4" cols="100" @*asp-for=""*@ />Some notes go here</textarea>
                        </div>

                        <div>
                            <label @*asp-for=""*@>Additional Note 6:</label>
                            <textarea rows="4" cols="100" @*asp-for=""*@ />Some notes go here</textarea>
                        </div>

                        <div>
                            <label @*asp-for=""*@>Additional Note 7:</label>
                            <textarea rows="4" cols="100" @*asp-for=""*@ />Some notes go here</textarea>
                        </div>

                        <div>
                            <label @*asp-for=""*@>Additional Note 8:</label>
                            <textarea rows="4" cols="100" @*asp-for=""*@ />Some notes go here</textarea>
                        </div>


                        <button type="submit">Submit your Data</button>

                    </form>

                    <br />

                </div>
            </div>
        </div>
    </div>
</div>