@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header class="masthead" style="background-image: url('https://i2.wp.com/banyantlc.org/wp-content/uploads/2020/09/Note-Taking-Strategies.jpg?fit=1568%2C890&ssl=1') ">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>View All Field Notes</h1>
                    <span class="subheading">For Researchers</span>
                </div>
            </div>
        </div>
    </div>
</header>